nav {
	background-color: white;
}

.navbar-header a img {
	width: 50%;
}

.green {
	background-color: #5fcf80;
}

.headerTable {
	background-color: #fff;
	margin: 60px 0 60px 0;
}

input {
	color: #333;
}
/*thead {
	background-color: #999;
	color: #fff;
}*/